
body {
  background-color: black;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
  color: white;
}


img {
  flex: 1;
  display: flex;
  width: 500px;
  opacity: .8;
}


.picture{
  flex:1;
  display: flex;
}


